
.CommentList {
  padding: 5px;
}

.Comment {
  margin: 5px;
  overflow: hidden;
  border-bottom: 1px solid #d9e0e6;
  background-color: #fff;

  .avatar {
    align-self: stretch;
    flex-shrink: 0;
    padding: 10px;
    max-width: 58px;
    background-color: #fafafa;
  }

  .body {
    overflow: hidden;
    flex-shrink: 0;
    padding: 10px;
  }
}
