
.CommentsList {
  padding: 5px;
}

.Comment {
  margin: 5px;
  overflow: hidden;
  border-bottom: 1px solid #d9e0e6;
  background-color: #fff;

  .header {
    padding: 10px;
    background-color: #fafafa;
    border-bottom: 1px solid #E8E8E8;

    .username {
      margin-left: 10px;
      font-size: 14px;
      color: silver;
    }

  }

  .body {
    overflow: hidden;
    flex-shrink: 0;
    padding: 10px;
  }
}

.NewCommentBox {
  composes: Comment;
  position: relative;

  .tools {
    background-color: #E9EFF4;
    padding: 0 10px 10px;

    :global(.octicon) {
      font-size: 20px;
    }
  }

  .header {
    border-bottom: none;
  }

  .textarea {
    border: none;
    padding: 10px;
    resize: none;
  }
}

.event {
  color: #8896a2;
  font-size: 12px;
  margin: 0 5px;
  padding: 0 10px;
  min-height: 25px;
  position: relative;

  :global(.octicon) {
    color: #d7dee6;
  }

  > span {
    flex-shrink: 0;
  }
}

.eventLabel {
  font-size: 10px;
  display: inline-block;
  padding: 4px 7px;
  margin: 0 4px;
  background-color: #d7dee6;
  border-radius: 50px;
}

.compactComment {
  margin: -6px 5px 5px;
  padding: 10px;
  min-height: 35px;
  overflow: hidden;
  border-top: 1px solid #E9EFF4;
  border-bottom: 1px solid #d9e0e6;
  background-color: #fff;
}
