
.FilterList {
  min-width: 200px;
  border-right: 1px solid #e5e5e5;
  padding: 0 0 10px 0;
  font-size: 14px;
  background-color: #FAFAFA;
  overflow-y: auto;
}

.FilterListItem {
  height: 28px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-size: 12px;

  .name {
    margin-right: 30px;
  }

  .count {
    height: 18px;
    margin-left: auto;
    padding: 0 8px;
    border-radius: 20px;
    background-color: #e5e5e5;
  }
}

.FilterListItemSelected {
  composes: FilterListItem;
  background-color: #9DAAB9;
  color: #fff;

  .count {
    background-color: #596879;
  }
}

.label {
  height: 28px;
  padding: 5px 10px;
  color: #9DAAB9;
  letter-spacing: 0.5px;
  font-size: 10px;
  text-transform: uppercase;
}
