
.Issue {
  background-color: #E9EFF4;

  .header {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 10px 10px 20px;
    background-color: #fafafa;

    & > div + div {
      margin-left: 5px;
    }

    .url {
      font-size: 12px;
      color: #a2a2a2;

      .number {
        color: #595959;
      }
    }

    .title {
      margin-top: 6px;
      font-size: 14px;
      font-weight: bold;
    }

    .labels {
      margin-top: 6px;
      .label + .label {
        margin-left: 4px;
      }
      .label {
        font-size: 9px;
        border-radius: 100px;
        height: 16px;
        padding: 0 6px;
        text-align: center;
      }
    }

    .actionButton {
      font-size: 12px;
      font-weight: bold;
      border: 1px solid #D5D5D5;
      border-radius: 3px;
      background-color: transparent;
      padding: 6px 12px 6px;
    }

  }

  .body {
    flex-shrink: 0;
    padding: 24px;
    overflow: hidden;
    border-bottom: 1px solid #E5E5E5;
    background-color: #fff;
  }
}
