.NewCommentBox {
  composes: Comment from "./Comment.scss";
  position: relative;

  .tools {
    background-color: #E9EFF4;
    padding: 0 10px 10px;

    :global(.octicon) {
      font-size: 20px;
    }
  }

  .textarea {
    border: none;
    padding: 10px;
    resize: none;
  }
}

.header {
  composes: header from "./Comment.scss";
  border-bottom: none;
}
